.header-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1vh 3vw;
}

.toolbar {
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
}

@media (max-width: 768px) {
    
    .toolbar {
        justify-content: center; 
        gap: 10px;
    }
}
