<div class="header">
    <div>
        <p-button (onClick)="changeSidebarVisibility()" icon="pi pi-sliders-h" severity="secondary" [rounded]="true" />
    </div>

    <div>

    </div>

    <div class="toolbar">
        <p-button icon="pi pi-expand" severity="secondary" [rounded]="true" (onClick)="fullScreen()" />
        <p-button icon="pi pi-user" severity="secondary" [rounded]="true" />
        <p-button icon="pi pi-spin pi-cog" severity="secondary" [rounded]="true" />
    </div>
</div>
<div class="separator"></div>