.projects-container {
    display: block;
}

.project-container {
    width: 60vw;
    margin: auto;
}



@media (max-width: 768px) {

    .project-container {
        width: 90vw;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
}